@font-face {
  font-family: 'GeorgiaPro';
  src: url('https://agapebloom.com/fonts/GeorgiaPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeorgiaPro';
  src: url('https://agapebloom.com/fonts/GeorgiaPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('https://agapebloom.com/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('https://agapebloom.com/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
}
